<footer>
  <div class="container text-center small py-vh-3">
    <a href="https://sutisna.com" class="link-fancy" target="_blank">sutisna.com</a>
  </div>
  {% if footerScripts %}
  <script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
  {% endif %}
</footer>
