<div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-3">Sutisna's Journal</h1>
      <a href="https://www.linkedin.com/in/sutisna/" target="_blank" class="btn btn-white btn-xl shadow">Linkedin Profile</a>
    </div>
  </div>
</div>
