<div class="container py-vh-5">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-12 col-lg-10">
      <h1 class="display-huge mb-2">Mengejar Swedish Dream</h1>
      <h5>Sharing kerja dan kehidupan di Swedia🇸🇪</h5>
    </div>
  </div>
</div>
