<li class="nav-item">
    <a class="nav-link fs-5"  href="{{ '/index.html' | url }}" aria-label="The Blog Archive">
      Beranda
    </a>
  </li>
<li class="nav-item">
    <a class="nav-link fs-5"  href="{{ '/blog/index.html' | url }}" aria-label="The Blog Archive">
      Blog
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link fs-5"  href="{{ '/content.html' | url }}" aria-label="The Blog Archive">
        Tentang
      </a>
    </li>
