---
title: Tentang
eleventyExcludeFromCollections: true
layout: layouts/default.njk
navbar: navbar1
footer: footer1
colorModifier: dark
permalink: content.html
---
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center py-vh-5">
      <h1>{{title}}</h1>
    </div>
    <div class="col-11 col-lg-10 col-xl-6 border-bottom border-top py-vh-3">
      <div class="row">
        <p class="lead">Hej hej, perkenalkan nama saya Sutisna. Saat ini sedang kerja di Swedia sebagai backend developer di salah satu perusahaan streaming terbesar di Nordic. Saya dan keluarga pindah ke Swedia sejak November 2022. Melalui web/blog ini saya ingin berbagi cerita, tips serta informasi seputar kerja dan kehidupan di Swedia. Jangan lupa follow saya di sosial media ya. Tack så mycket🙏</p>
        <p><a href="https://www.instagram.com" target="_blank">Instagram</a></p>
        <p><a href="https://wa.me/6281111191998" target="_blank">WhatsApp</a></p>
        <p><a href="https://www.tiktok.com/@sutisnamulyana" target="_blank">Tiktok</a></p>
        <p><a href="https://www.youtube.com/@sutisnamulyana" target="_blank">Youtube</a></p>
        <p><a href="https://www.linkedin.com/in/sutisna/" target="_blank">Linkedin</a></p>
        <p><a href="https://open.spotify.com/show/49f9TJ6WA21cCKWNQO96NR" target="_blank">Duniawi Podcast</a></p>

        <img src="./img/sutisnasnow.jpg">
      </div>
    </div>
  </div>
</div>
